/* =====HEADER====== */
.header {
    background: linear-gradient(0, #fe6433, #f53e2d) ;
    height: var(--header-height);
    /* display: flex;
    justify-content: space-between; */
}

    /* Navication */
.header__navbar {
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
}

.header__navbar-list {
    margin: 4px 0 0 0;
    padding-left: 0;
    list-style: none;
}

.header__navbar-item {
    margin-right: 10px ;
    min-height: 26px;
}

.header__navbar-item +  .header__navbar-item {
    margin-left: 10px;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.3rem;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-list,
.header__navbar-item-link {
    display: flex;
    align-items: center;
}

.header__navbar-item--vdash {
    position: relative;
}

.header__navbar-item--vdash::after {
    content: "";
    display: block;
    border-left: 2px solid #FB9086;
    height: 16px;
    position: absolute;
    right: -12px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-item--bold {
    font-weight: 500;
    cursor: pointer;
}

.header__navbar-item--bold:hover {
    opacity: 0.7;
}

.header__navbar-icon-link{
    font-size: 1.8rem;
    margin-left: 8px;
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-item-icon {
    font-size: 1.6rem;
    margin-right: 5px;
}

.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    opacity: 0.7;
    cursor: pointer;
}

.header__navbar-item-user {
    display: flex;
    cursor: pointer;
    position: relative;
}

.header__navbar-item-user:hover .header__navbar-item-user-menu {
    display: block;
}

.header__navbar-item-user:hover .header__navbar-item-user-name {
    opacity: 0.7;
}

.header__navbar-item-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.header__navbar-item-user-name {
    margin-left: 6px;
    font-weight: 500;
}

.header__navbar-item-user-menu {
    position: absolute;
    z-index: 10;
    top: calc(100% + 4px);
    right: 0;
    width: 160px;
    display: none;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 10px 2px rgba(0, 0, 0,0.1);
    padding-left: 0;
    list-style: none;
    transform-origin: calc(100% - 20px) top;
    animation: Growth ease-in-out 0.2s;
}

.header__navbar-item-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    right: 0px;
    height: 10px;
    width: 50%;
}

.header__navbar-item-user-menu-arrowup {
    content: "";
    display: block;
    position: absolute;
    top: -20px;
    right: 12px;
    border-width: 10px 11px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__navbar-item-user-item {
    display: flex;
    align-items: center;
}

.header__navbar-item-user-item:last-child {
    border-top: 1px solid rgba(0, 0, 0, 0.05) ;
}

.header__navbar-item-user-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.header__navbar-item-user-item:hover + span {
    border-color: transparent transparent #f2f2f2 transparent;
}

.header__navbar-item-user-item a{
    text-decoration: none;
    color: var(--color-333);
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 8px 0 8px 0;
    margin-left: 12px;
}

.header__navbar-item-user-item i {
    color: var(--color-666);
    margin-left: 4px;
    font-size: 1.2rem;
}


            /* QR CODE */

.header__navbar-item--has-qr:hover {
    cursor: pointer;
}

.header__navbar-item--has-qr:hover span {
    opacity: 0.7;
}

.header__qr {
    cursor: default;
    z-index: 999;
    display: none;
    width: 188px;
    padding: 8px;
    border-radius: 2px ;
    position: absolute;
    background-color: var(--white-color);
    top: 118%;
    left: 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.2s ease-in;
}


.header__qr::before {
    cursor: pointer;
    content:"";
    display: block;
    /* background-color: black; */
    position: absolute;
    width: 100%;
    height: 12px;
    top: -12px;
    left: 0;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}


.header__qr-img {
    max-width: 100%;
    padding: 4px;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-img-link {
    text-decoration: none;
    padding: 2px 4px 0;
    border-radius: 6px;
}

.header__qr-img-link:hover {
    background-color: rgba(0,0,0,0.05);
}

.header__qr-img-link:first-child {
    margin-left: 8px;
}

.header__qr-img-link:last-child {
    margin-right: 4px;
}

.header__qr-download {
    height: 16px;
}

            /* QR CODE */

            /* NOTIFICATIONS */
.header__navbar-item--has-notify {
    position: relative;
}

.header__navbar-item--has-notify:hover {
    cursor: pointer;
}

.header__navbar-item--has-notify:hover span {
    opacity: 0.7;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__notify {
    width: 404px;
    z-index: 999;
    position: absolute;
    top: 118%;
    right: 0;
    display: none;
    background-color: var(--white-color);
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    will-change: opacity, transform;
    transform-origin: calc(100% - 32px) top;
    animation: Growth ease-in-out 0.3s;
}

@keyframes Growth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify::before {
    content: "";
    display: block;
    position: absolute;
    top: -20px;
    right: 16px;
    border-width: 10px 11px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    top: -13px;
    right: -1px;
    width: 85px;
    height: 12px;
}

.header__notify-header {
    height: 42px;
    cursor: default;
    /* border-bottom: 1px solid #e5e5e5; */
}

.header__notify-header h3 {
    line-height: 42px;
    margin: 0 0 0 12px;
    color: #999;
    font-weight: 500;
    font-size: 1.4rem;
    user-select: none;
}

.header__notify-body {
    padding-left: 0px ;
    overflow-y: auto;
    max-height: 300px;
}

.header__notify-item {
    background-color: rgba(239, 77, 45, 0.08);
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: var(--white-color);
}

.header__notify-content {
    display: flex;
    text-decoration: none;
    padding: 12px;
}



.header__notify-content-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    margin: 0;
    color: var(--black-color);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.header__notify-describe {
    color: var(--color-666);
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin: 0;
    margin-top: 4px;
}

.header__notify-name,
.header__notify-describe {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}


.header__notify-footer {
    display: flex;
}

.header__notify-footer:hover {
    background-color:rgba(255,0,0,0.1) ;
}

.header__notify-footer-content {
    color: var(--black-color);
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 12px 0 ;
    font-weight: 400;
}

            /* NOTIFICATIONS */

            
    /* Navication */

    /*==== Authen Modal ======*/
.auth-form{
    width: 500px;
    border-radius: 3px;
    background-color: var(--white-color);
    overflow: hidden;
}

.auth-form__container {
    padding: 0 28px;
}

.auth-form__header {
    padding: 0 10px ;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.auth-form__header-status {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--color-333);
    user-select: none;
}

.auth-form__header-switch {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}

.auth-form__input {
    margin-top: 16px;
    width: 100%;
    font-size: 1.4rem;
    padding: 0 12px;
    border-radius: 2px;
    height: 40px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__input:focus {
    border-color: #888 ;
}

.auth-form__adder {
    margin-top: 18px;
}

.auth-form__adder-text {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__text-link:hover,
.auth-form__help--link:hover,
.auth-form__header-switch:hover {
    text-decoration: underline;
}

.auth-form__help {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__help--link {
    text-decoration: none;
    font-size: 1.3rem;
    color: #939393;
}

.auth-form__help--vdash {
    border: 1px solid #EAEAEA;
    display: block;
    height: 18px;
    margin: 0 16px 1px;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

.auth-form__controls {
    margin: 85px 0 20px 0;
    display: flex;
    justify-content: flex-end;
}

.auth-form__control-back {
    margin-right: 8px;
}

.auth-form__socials {
    display: flex;
    background-color: #f5f5f5;
    justify-content: space-between;
    align-items: center;
    padding: 12px 30px;
}

.auth-form__socials-icon {
    padding: 0 10px;
    font-size: 2rem;
}

.auth-form__socials-title {
    flex: 1;
    padding-right: 12px;
    text-align: center;
}

.auth-form__socials--facebook {
    background-color: var(--facebook-color) ;
    color: var(--white-color);
}

.auth-form__socials--google {
    background-color: var(--white-color);
    color: var(--color-333);
}

    /*==== Authen Modal ======*/


    /*==== SEARCH ======*/

.header-with-search {
    display: flex;
    height: var(--search-height);
    align-items: center;
    padding: 22px 0 24px;
}

.header__logo--link {
    width: 200px;
    text-decoration: none;
    color: transparent;
}

.header__logo-img {
    width: 150px;
}

.header__search{
    display: flex;
    align-items: center;
    height: 40px;
    flex: 1;
    align-self: start;
    border-radius: 2px;
    background-color: var(--white-color);
    box-shadow: 0 2px 3px rgba(0, 0, 0,0.3);
}

.header__search-input-container {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    color: var(--color-333);
    border-radius: 2px ;
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding: 0 16px;
    height: 100%;
}

.header__search-selection::before {
    content: "";
    display: block;
    border-left: 1px solid #999;
    position: absolute;
    left: 0;
    top: calc(50%);
    transform: translate(0 ,-55%);
    height: 1.8rem;
}

.header__search-selection {
    /* border-left: 1px solid #999; */
    padding: 0 16px;
    height: 100%;
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;
}

.header__search-status {
    font-size: 1.4rem;
    /* line-height: var(--search-height); */
    color: var(--color-333);
}

.header__search-select-icon {
    margin-left: 6px;
    font-size: 1.2rem;
    color: #939393;
}

.header__search-btn {
    border: none;
    outline: none;
    cursor: pointer;
    height: 34px;
    padding: 0 22px;
    border-radius: 3px;
    margin-right: 3px;
    background-color: var(--primary-color);
}

.header__search-btn:hover {
    opacity: 0.9;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

/* Select options */
.header__select-option::before {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    /* background-color: #888; */
    position: absolute;
    top: -10px;
    cursor: pointer;
}

.header__select-option {
    display: none;
    z-index: 99;
    position: absolute;
    top: 80%;
    right: 0;
    width: 120px;
    background-color: var(--white-color);
    list-style: none;
    padding-left: 0 ;
    border-radius: 2px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0,0.1);
    animation: fadeIn 0.15s ease-in-out;
}

.header__search-selection:hover .header__select-option {
    display: block;
}

.header__select-option:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__select-option:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__select-item {
    padding: 8px;
}

.header__select-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.header__select-item span {
    font-size: 1.4rem;
    color: var(--color-333);
    display: inline-block;
    margin-left: 4px;
}

.header__select-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    display: none;
    margin-left: 4px;
}

.header__select-item--active i{
    display: inline-block;
}
/* Select options */

/* History search */

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-history {
    display: none;
    z-index: 99;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 20px);
    background-color: var(--white-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    overflow: hidden;
}

.header__search-history-title {
    font-size: 1.3rem;
    margin: 6px 12px;
    color: #999;
    font-weight: 400;
    user-select: none;
}

.header__search-history-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header__search-history-item {
    height: 38px;
    cursor: pointer;
}

.header__search-history-item:hover {
    cursor: pointer;
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    display: block;
    color: var(--color-333);
    font-size: 1.4rem;
    line-height: 38px;
    margin-left: 12px;
}

/* History search */

/* == Cart header == */

.header__cart{
    width: 150px;
    text-align: center;
    position: relative;
}

.header__cart-container {
    position: relative;
    display: inline-block;
    padding: 12px;
    cursor: pointer;
}

.header__cart-container:hover .header__cart-box {
    display: block;
}

.header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 8px;
}

.header__cart-count {
    position: absolute;
    padding: 1px 6px;
    background-color: var(--white-color);
    top: 12px;
    right: 4px;
    border: 2px solid  var(--primary-color);
    border-radius: 12px;
    color: var(--primary-color);
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.header__cart-box {
    position: absolute;
    z-index: 999;
    width: 400px;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
    background-color: var(--white-color);
    right: 0px;
    border-radius: 2px;
    top: 100%;
    display: none;
    animation: fadeIn 0.2s ease-in-out;
    cursor: default;
}

.header__cart-box::after {
    content: "";
    position: absolute;
    border-width: 16px 20px;
    top: -26px;
    right: 3px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__cart-box::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 10px;
    top: -10px;
    right: 10%;
    cursor: pointer;
}
/* = Have cart list = */
.header__cart-box-heading {
    text-align: left;
    font-size: 1.4rem;
    font-weight: 400;
    color: #999;
    user-select: none;
    margin: 0;
    padding: 12px 0 12px 12px;
}

.header__cart-box-list {
    overflow-y: auto;
    max-height: 250px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header__cart-box-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__cart-box-item:hover {
    background-color: #f8f8f8;
}

.header__cart-box-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #E8E8E8;
}

.header__cart-box-info {
    flex: 1;
    margin-right: 12px;
}

.header__cart-box-info-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-box-info-name {
    flex: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 2rem;
    max-height: 4rem;
    text-align: left;
    margin: 0;
    padding-right: 16px;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-333);
}

.header__cart-box-info-price {
    font-size: 1.4rem;
    color: var(--primary-color);
}

.header__cart-box-info-x {
    font-size: 0.9rem;
    color: #757575;
    margin: 0 4px 0 4px;
}

.header__cart-box-info-quantity {
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-box-info-des {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
}

.header__cart-box-info-type {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--color-666);
}

.header__cart-box-info-remove {
    font-size: 1.4rem;
    color: var(--color-333);
}

.header__cart-box-info-remove:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.header__cart-box-footer {
    float: right;
    margin: 12px;
}

/* = Have cart list = */

/* = No cart = */
.header__cart--no_cart .header__cart--no_cart-content {
    display: block;
}
.header__cart--no_cart .header__cart--no_cart-img {
    display: unset;
}

.header__cart--no_cart {
    padding: 24px;
    cursor: default;
    z-index: 99;
}

.header__cart--no_cart-content {
    display: none;
    font-size: 1.4rem;
    color: var(--color-333);
    margin-top: 16px;
    user-select: none;
}

.header__cart--no_cart-img {
    width: 60%;
    display: none;
}
/* = No cart = */

/* == Cart header == */



    /*==== SEARCH ======*/
    

/* =====HEADER====== */

/* =====CONTAINER====== */

/* ==Category== */
.app__content {
    padding-top: 36px;
}
.container {
    background-color: #f5f5f5;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    padding: 12px 16px;
    font-size: 1.6rem;
    color: var(--color-333);
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    margin: 0;
}

.category__heading--icon {
    font-size: 1.4rem;
    position: relative;
    top: -1px;
    margin-right: 6px;
}

.category-list {
    padding-left: 0;
    list-style: none;
    margin-left: 10px;
}

.category-item {
    position: relative;
}

.category-item::before {
    content: "";
    position: absolute;
    border-bottom: 1px solid #eee;
    bottom: 0;
    right: 36px;
    left: 20px;
}

.category-item:last-child::before{
    display: none;
}

.category-item--actived .category-item__link::before {
    content: "";
    position: absolute;
    border-style:  solid;
    border-width: 4px 6px;
    border-color: transparent transparent transparent var(--primary-color);
    left: 6px;
    top: 50%;
    transform: translateY(calc(-50%));
}

.category-item--actived .category-item__link {
    color: var(--primary-color);
}

.category-item__link {
    position: relative;
    text-decoration: none;
    color: var(--color-333);
    font-size: 1.6rem;
    display: block;
    padding: 7px 20px;
    right: 0;
    transition: right linear 0.06s;
    line-height: 2rem;
}

.category-item__link:hover {
    right: -2px;
    color: var(--primary-color);
}
/* ==Category== */

/* ==Home filter== */

.home-filter {
    background-color: #EDEDED;
    display: flex;
    padding: 12px 22px;
    align-items: center;
}

.home-filter__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter__btn {
    margin-right: 12px;
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.05);
    min-width: 90px;
}

.home-filter__btn.btn--primary:hover {
    opacity: 1;
}

.home-filter__page {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.home-filter__page-num {
    font-size: 1.4rem;
    color: var(--color-333);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-direction {
    display: flex;
    border-radius: 2px;
    overflow: hidden;
}

.home-filter__page-direction__btn {
    display: block;
    text-align: center;
    line-height: 34px;
    width: 34px;
    height: 34px;
    background-color: var(--white-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.home-filter__page-direction__btn:last-child {
    border-left: 1px solid #eee;
}

.home-filter__page-direction__btn--disabled.home-filter__page-direction__btn {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-direction__btn--disabled .home-filter__page-direction__icon {
    color: #ccc;
}

.home-filter__page-direction__icon {
    color: #555;
    font-size: 1.2rem;
}

/* ==Home filter== */

/* ==Home product== */

.product {
    margin-bottom: 10px;
}

.product-item {
    text-decoration: none;
    display: block;
    position: relative;
    background-color: var(--white-color);
    margin-top: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}

.product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    border-top-left-radius: 2px;
}

.product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 10px 10px 6px;
    color: var(--color-333);
    line-height: 1.8rem;
    height: 3.6rem;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    
}

.product-item__price-old {
    font-size: 1.4rem;
    color: var(--color-666);
    text-decoration: line-through;
    margin-left: 10px;
}

.product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.product-item__action {
    margin: 6px 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-item__like {
    font-size: 1.4rem;
    
}

.product-item__liked .product-item__like--fill {
    display: inline-block;
}

.product-item__like--empty {
    color: var(--color-333);
}

.product-item__liked .product-item__like--empty {
    display: none;
}

i.product-item__like--fill {
    color: #F63D30;
    display: none;
}

.product-item__rating {
    font-size: 0.8rem;
    color: #d5d5d5;
    margin: 0px 0 0 auto;
}

.product-item__star--gold {
    color: var(--star-gold-color);
}

.product-item__sold {
    margin-left: 6px;
    color: var(--color-333);
    font-size: 1.2rem;
}

.product-item__origin {
    display: flex;
    justify-content: space-between;
    padding: 6px 10px 10px;
    font-weight: 300;
    font-size: 1.2rem;
    color: #595959;
}

.product-item__favourite {
    position: absolute;
    color: var(--primary-color);
    background-color: currentColor;
    left: -4px;
    top: 10px;
    font-size: 1.2rem;
    line-height: 1.6rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-weight: 500;
    padding-right: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.product-item__favourite::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0px;
    /* height: 4px;
    width: 4px; */
    border-top: 3px solid currentColor ;
    border-left: 3px solid transparent ;
    filter: brightness(60%);
}

.product-item__favourite span {
    color: var(--white-color);
}

.product-item__favourite i {
    color: var(--white-color);
    font-size: 1rem;
    margin: 0 2px 0 5px;
}

.product-item__sell-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: #ffd840f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 2px;
    box-shadow: -4px 2px 3px rgba(0, 0, 0, 0.06);
}

.product-item__sell-off-percent {
    position: relative;
    right: -2px;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--primary-color);
}

.product-item__sell-off-label {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white-color);
}

.product-item__sell-off::after {
    content: "";
    position: absolute;
    bottom: -4px;
    border-bottom: 4px solid transparent;
    border-left: 20px solid #ffd840f0;
    border-right: 20px solid #ffd840f0;
    border-top: 0px solid blue;
}


/* ==Home product== */

/* ==Home Pagination== */
.home-pagination {
    margin: 48px 0 32px 0;
    padding: 0;
}
/* ==Home Pagination== */


/* =====CONTAINER====== */

/* =====FOOTER====== */

.footer {
    border-top: 4px solid var(--primary-color);
}

.footer-label {
    font-size: 1.4rem;
    color: var(--color-333);
    margin-top: 34px;
}

.footer-list {
    list-style: none;
    padding: 0;
}

.footer-item__link {
    text-decoration: none;
    color: #737373;
    font-size: 1.2rem;
    padding: 2px 0;
    display: flex;
    align-items: center;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    font-size: 1.6rem;
    margin-right: 8px;
}

.footer-download__wrap {
    display: flex;
}

.footer-download__qr {
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
    margin-right: 16px;
}

.footer-download__apps {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-download__link {
    text-decoration: none;
}

.footer-download__img {
    height: 16px;
}

.footer-bottom {
    background-color: #f5f5f5;
    margin-top: 36px;
    padding: 12px 0;
}

.footer-copyright {
    text-align: center;
    color: #737373;
    font-size: 1.3rem;
    margin: 0;
}

/* =====FOOTER====== */
